force-app/main/default/flows/Route_to_Guided_Shopping_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_to_Agent</name>
        <label>Route to Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9hk0000000TEwCAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>メッセージング</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Copilot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00Ghk000000A17hEAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Messaging Session Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
            <value>
                <stringValue>0Xxhk0000000SIrCAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
            <value>
                <stringValue>Guided Shopping for B2B Storefronts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Default_English_Facets</name>
        <label>Default English Facets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QueryFacets</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;[{&quot;f&quot;:&quot;c_refinementColor&quot;,&quot;d&quot;:&quot;this is the color of the product&quot;,&quot;e&quot;:&quot;White, Blue, Purple, Red&quot;}, {&quot;f&quot;:&quot;brand&quot;,&quot;d&quot;:&quot;this is the brand&quot;,&quot;e&quot;:&quot;Sony, Samsung&quot;}, {&quot;f&quot;:&quot;cgid&quot;,&quot;d&quot;:&quot;indicates the category of the product&quot;,&quot;e&quot;:&quot;&quot;}, {&quot;f&quot;:&quot;price&quot;,&quot;d&quot;:&quot;indicates the range of prices for the product&quot;,&quot;e&quot;:&quot;(50..100), (100..200), (200..500), (500..999), (1000..1999), (2000..2999), (3000..4999), (5000..9999)&quot;}, {&quot;f&quot;:&quot;c_isNew&quot;,&quot;d&quot;:&quot;indicates if a product is a new arrival or not&quot;,&quot;e&quot;:&quot;true, false&quot;}]&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Messaging_Session_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Japanese_Facets</name>
        <label>Japanese Facets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QueryFacets</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;[ { &quot;f&quot;: &quot;c_refinementColor&quot;, &quot;d&quot;: &quot;this is the color of the product&quot;, &quot;e&quot;: &quot;ホワイト, ブルー, パープル, レッド&quot; }, { &quot;f&quot;: &quot;brand&quot;, &quot;d&quot;: &quot;this is the brand&quot;, &quot;e&quot;: &quot;ソニー, サムスン&quot; }, { &quot;f&quot;: &quot;cgid&quot;, &quot;d&quot;: &quot;indicates the category of the product&quot;, &quot;e&quot;: &quot;新着, レディース, 衣類, ジュエリー, アクセサリ, メンズ, 売れ筋順&quot; }, { &quot;f&quot;: &quot;price&quot;, &quot;d&quot;: &quot;indicates the range of prices for the product&quot;, &quot;e&quot;: &quot;(50..100), (100..200), (200..500), (500..999), (1000..1999), (2000..2999), (3000..4999), (5000..9999)&quot; }, { &quot;f&quot;: &quot;c_isNew&quot;, &quot;d&quot;: &quot;indicates if a product is a new arrival or not&quot;, &quot;e&quot;: &quot;true, false&quot; } ]&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JPY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Messaging_Session_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FlagFalse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </constants>
    <constants>
        <name>FlagTrue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </constants>
    <constants>
        <name>SFRANamedCredential</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SFRA_Guest_Named_Credential</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Select_Facets</name>
        <label>Select Facets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Default_English_Facets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Japanese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserLocale</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ja-JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Japanese_Facets</targetReference>
            </connector>
            <label>Japanese</label>
        </rules>
    </decisions>
    <description>Omnichannel routing flow for Guided Shopping for B2B Storefronts</description>
    <environments>Default</environments>
    <interviewLabel>Route to Guided Shopping Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Route to Guided Shopping Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordUpdates>
        <name>Update_the_Messaging_Session_record</name>
        <label>Update the Messaging Session record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_to_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DomainURL__c</field>
            <value>
                <elementReference>DomainURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUserLanguage</field>
            <value>
                <elementReference>UserLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCartMgmtSupported__c</field>
            <value>
                <elementReference>IsCartMgmtSupported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrganizationID__c</field>
            <value>
                <elementReference>OrganizationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueryFacets__c</field>
            <value>
                <elementReference>QueryFacets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefreshToken__c</field>
            <value>
                <elementReference>RefreshToken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteID__c</field>
            <value>
                <elementReference>SiteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsID__c</field>
            <value>
                <elementReference>UsId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserLocale__c</field>
            <value>
                <elementReference>UserLocale</elementReference>
            </value>
        </inputAssignments>
<object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Facets</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>csrfToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DomainURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCartMgmtSupported</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrganizationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueryFacets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefreshToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sfraAuthToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLocale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
